{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" href="/static/css/index.css" />
{% endblock %}

{% block content %}

<div class="mainBox">
    <div class="boxCol">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptas consectetur error optio a perspiciatis voluptatum. 
            Nobis cum quia dolorum sunt quo incidunt iste beatae, minima esse ex, earum saepe?</p>
    </div>
    <div class="boxCol">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Illum eos minus vel, iste dolorem doloremque quidem autem nemo nam officia dolor ullam doloribus explicabo id recusandae deleniti suscipit adipisci corrupti?</p>
    </div>
    <div class="boxCol">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Debitis, sapiente iure! Aut quas, pariatur nihil numquam, officia sapiente doloribus ipsa velit eius quo ad aspernatur neque expedita reiciendis obcaecati in!</p>
    </div>
</div>


{% endblock %}

{% block scripts %}

{% endblock %}