{% extends "layout.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}

{% block content %}

<div class="mainBox">
    <div class="boxCol"></div>
    <div class="boxCol">
        <form id="frmLogin" action="{% url 'registro' %}" method="POST" >
            {% csrf_token %}
        </form>
    </div>
    <div class="boxCol"></div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/registro.js' %}"></script>
{% endblock %}