{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="form-signin">
    <form action="{% url 'cadastro' %}" method="POST">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Informe os dados para registro</h1>

        <div class="form-floating">
            <input type="text" class="form-control {% if nome_IsValid %}{{ nome_IsValid }}{% endif %}" id="nomeInput" name="nome" placeholder="Nome" required
            {% if nome %}
            value="{{ nome }}"
            {% else %}
            {% endif %}
            >
            <label for="nomeInput">Nome</label>
            {% if nome and nome_message != '' %}
            <div id="validationServerNomeFeedback" class="invalid-feedback">
                {{ nome_message }}
            </div>
            {% endif %}
        </div>
        <div class="form-floating">
            <input type="email" class="form-control {% if email_IsValid %}{{ email_IsValid }}{% endif %}" id="floatingInput" name="email" placeholder="nome@examplo.com" required
                {% if email %}
                value="{{ email }}"
                {% else %}
                {% endif %}
            >
            <label for="floatingInput">Email</label>
            {% if email and email_message != '' %}
            <div id="validationServerNomeFeedback" class="invalid-feedback">
                {{ email_message }}
            </div>
            {% endif %}
        </div>
        <div class="form-floating">
            <input type="password" class="form-control {% if senha_IsValid %}{{ senha_IsValid }}{% endif %}" id="floatingPassword" name="password" placeholder="Senha" required
                {% if senha %}
                value="{{ senha }}"
                {% endif %}
            >
            <label for="floatingPassword">Senha</label>
            {% if senha and senha_message != '' %}
            <div id="validationServerNomeFeedback" class="invalid-feedback">
                {{ senha_message }}
            </div>
            {% endif %}
        </div>
        <div class="form-floating">
            <input type="password" class="form-control {% if senha2_IsValid %}{{ senha2_IsValid }}{% endif %}" id="confirmaPassword" name="password2" placeholder="Confirma Senha" required
                {% if senha2 %}
                value="{{ senha2 }}"
                {% endif %}
            >
            <label for="confirmaPassword">Confirme a Senha</label>
            {% if senha2 and senha2_message != '' %}
            <div id="validationServerNomeFeedback" class="invalid-feedback">
                {{ senha2_message }}
            </div>
            {% endif %}
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Registrar</button>
    </form>
</div>

{% endblock content %}