{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <!-- INCLUI MENU LATERAL DA TELA DE PERFIL -->
    {% include 'partials/_sidebar.html' %}
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <h4>Extrato</h4>
                    </div>
                    <div class="col-3">
                        <a class="btn btn-primary float-end" href="{% url 'cart' %}">Comprar Cr&eacute;dito</a>
                    </div>
                    <hr class="mt-1" />
                </div>
                <div class="row">
                    <div id="GridExtrato"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
    $(document).ready(function(){
        $('#mnExtrato').addClass("active");
        
        $('#GridExtrato').kendoGrid({
            dataSource: {   
                transport: {   
                    read: {
                        url: "{% url 'extratojson' %}",
                        dataType: "json", 
                    }
                },
                pageSize: 20,
                schema: {
                    model: {
                        fields: {
                            Data: {type: "date"},
                            Descricao: {type: "string"},
                            Valor: {type: "number"},
                            Desc_Status: {type: "string"}
                        }
                    }
                }
            },
            columns: [{
                field: "Data",
                title: "Data",
                format: "{0: dd/MM/yyyy HH:mm:ss}"
            }, {
                field: "Descricao",
                title: "Descrição"
            }, {
                field: "Valor",
                title: "Valor",
                format: "{0:c2}",
                attributes: {
                    style: "text-align: right;",
                }
            }, {
                field: "Desc_Status",
                title: "Status"
            }],
            scrollable: true,
            sortable: true,
            pageable: true,
            height: 500,
        });
    });
</script>
{% endblock scripts %}