/* ============================= 
    SINGLE BLOG CSS
================================ */

.single-blog-wrapper {

  .left-wrapper {
    @media #{$desktop} {
      margin-right: 40px;
    }

    .blog-content-wrapper {
      margin-bottom: 40px;

      .image {
        border-radius: 15px;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .content {

        h4 {
          font-weight: 600;
        }

        p {
          font-size: 16px;
          line-height: 26px;
        }

        .quotation {
          background: #F6FAFF;
          border-radius: 15px;
          padding: 30px 25px;
          border-left: 5px solid $primary-color;
          border-right: 5px solid $primary-color;
          text-align: center;
          margin-bottom: 25px;

          i {
            color: $primary-color;
            font-size: 30px;
            line-height: 1;
          }

          p {
            font-weight: 500;
          }
        }


      }
    }

    .comment-wrapper {

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 12px 30px;
        border-radius: 15px;
        border: 2px dashed $primary-color;
        margin-bottom: 40px;

        h6 {
          font-weight: 600;
          margin-right: 20px;
        }

        .share {

          .socials {
            li {

              &:last-child {
                a {
                  margin-right: 0px;
                }
              }

            }
          }
        }
      }

      .comment-item-wrapper {
        padding-bottom: 30px;

        .comment-item {
          display: flex;
          margin-bottom: 35px;


          &.reply-comment {
            margin-left: 105px;

            @media #{$xs} {
              margin-left: 85px;
            }
          }
          

          .image {
            max-width: 70px;
            width: 100%;
            height: 70px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 25px;

            @media #{$xs} {
              max-width: 60px;
              height: 60px;
              margin-right: 15px;
            }

            img {
              width: 100%;
            }
          }

          .content {

            .info {
              display: flex;
              justify-content: space-between;
              align-items: flex-end;
              padding: 10px 0 20px;

              .left {

                h6 {
                  font-weight: 500;
                  margin-bottom: 5px;
                }
              }

              .right {

                .replay-button {
                  color: $primary-color;

                  i {
                    padding-right: 20px;
                  }
                }
              }
            }

            .text {
              p {
                font-size: 16px;
                line-height: 26px;
              }
            }
          }
        }
      }

      .comment-form-wrapper {
        border-radius: 10px;
        border: 1px solid #f5f4f4;
        background: $white;
        padding: 40px 30px;
        @include box-shadow($box-shadow);

        h4 {
          font-weight: 600;
        }

        form {

          .single-input {
            margin-bottom: 20px;
            position: relative;

            label {
              display: block;
              margin-bottom: 10px;
            }

            input, textarea {
              border: 1px solid #C5C5CF;
              padding-right: 20px;
              padding-left: 48px;
              border-radius: 10px;
              font-weight: 300;
              width: 100%;


              &::placeholder {
                opacity: 1;
              }

              &:focus {
                border-color: $primary-color;
              }
            }

            input {
              height: 56px;
            }
            
            textarea {
              padding-top: 15px;
              padding-bottom: 15px;
              resize: none;
            }

            i {
              position: absolute;
              left: 20px;
              top: 54px;
            }
          }
          
          .button {
            height: 56px;

            &:hover {
              @include box-shadow($box-shadow-2);
            }
          }
        }
      }
    }
  }

  .right-wrapper {

    .sidebar-box {
      padding: 30px;
      border-radius: 10px;
      background: $white;
      @include box-shadow($box-shadow);
      margin-bottom: 30px;
      border: 1px solid #F5F4F4;

      h4 {
        font-weight: 500;
        margin-bottom: 30px;
      }
    }

    .search-box {

      form {
        position: relative;

        input {
          width: 100%;
          border: none;
          background: transparent;
        }

        button {
          background: transparent;
          border: none;
          position: absolute;
          right: 0;
          top: 50%;
          @include transform(translateY(-50%));
        }
      }
    }

    .category-box {

      ul {

        li {
          padding-left: 25px;
          position: relative;
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }

          &:hover {

            &::before {
              background: $primary-color;
            }
            a {
              color: $primary-color;
            }
          }

          &::before {
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: $body-color;
            position: absolute;
            left: 0;
            top: 50%;
            @include transform(translateY(-50%));
            @include transition(.3s);
          }
          

          a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $body-color;
          }
        }
      }
    }

    .recent-blog-box {

      ul {

        li {
          display: flex;
          margin-bottom: 30px;

          &:last-child {
            margin-bottom: 0;
          }
          

          .image {
            max-width: 90px;
            width: 100%;
            height: 90px;
            border-radius: 10px;
            overflow: hidden;
            margin-right: 20px;

            a {

              img {
                width: 100%;
              }
            }
          }

          .content {

            h6 {
              a {
                font-weight: 500;
                margin-bottom: 10px;
                display: block;
                color: $heading-color;

                &:hover {
                  color: $primary-color;
                }
              }
            }
          }
        }
      }
    }

    .tags-box {

      ul {
        display: flex;
        flex-wrap: wrap;

        li {
          margin-right: 8px;
          margin-bottom: 10px;

          a {

            @media #{$xs} {
              padding: 0 15px;
            }
            @media #{$lg} {
              padding: 0 20px;
            }
          }
        }
      }
    }
  }
}