/* =====================
BASE LANDING CSS
======================== */
@import 'variables';

.slider-active-wrapper {
  position: relative;


  .tns-nav {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;


    button {
      width: 15px;
      height: 15px;
      border: 0;
      background: rgba(#2F80ED, .2);
      margin: 10px;
      border-radius: 50%;

      &.tns-nav-active {
        background: rgba(#2F80ED, 1);
      }
    }
  }

  .slider-active {

    .single-slider {
      padding: 1px;
    }
  }
}


/* ========================================
BANNER CSS
=========================================== */

.banner-section {
  padding-top: 64px;

  @media #{$md, $xs} {
    padding-top: 77px;
  }

  .banner-area {
    padding: 70px 0px;
    background-image: url('../img/banner/banner-bg.jpg');
  
    .banner-content {
  
      h3 {
        color: #fff;
      }
  
      .breadcrumb {
        padding: 0px;
        background: transparent;
  
        .breadcrumb-item {
          color: #fff;
          font-size: 20px;
          
          &::before {
            color: #fff;
          }
  
          a {
            color: #fff;
          }
        }
      }
    }
  }
}